<div class="hero">
  <br>
  <div class="transparent col-sm-10 col-sm-offset-1">
    <h1>Work out from anywhere</h1>
    <h2>Quick workout and yoga videos</h2>
    <br>
    <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
  </div>
</div>