<br>
<div class="box col-xs-10 col-xs-offset-1">
  <h1>Team</h1>
  <br>
  <p>This Ruby on Rails application was built by Kelly Lougheed for the Firehose Project. You can view Kelly's full portfolio at <a href="http://www.kellylougheed.com/" target="_blank" class="sunset">www.kellylougheed.com</a>.</p>
</div>