/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@import url(http://fonts.googleapis.com/css?family=Syncopate);

body {
  background: url('asanoha-400px.png');
  font-family: "Helvetica Neue", Helvetica;
}

.navbar {
  border: none;
  border-radius: 0;
  font-family: 'Helvetica Neue', arial;
  font-weight: 200;
  letter-spacing: 2px;
  background-color: rgb(247, 181, 22);
}

.navbar-default a.navbar-brand {
  font-family: 'Syncopate';
  font-size: 4em;
  color: black;
  margin-top: 3px;
}

.navbar-default .navbar-nav > .active a, .navbar-default .navbar-nav > .active a:hover {
  background: none;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

.hero {
  height: 370px;
  background: url('hero.jpg');
  background-size: cover;
  background-position: center;
  box-shadow: 0px 3px 8px #2a2a2a;
}

.transparent {
  background: rgba(0,0,0,0.3);
  color: white;
  text-align: center;
  width: auto;
  padding: 10px;
  font-family: 'Helvetica Neue', arial;
}

.transparent h1, .transparent h2 {
  font-weight: 100;
  letter-spacing: 2px;
}

.btn {
  border-radius: 0;
  color: white;
  letter-spacing: 1px;
}

.btn-sunset {
  background-color: rgb(247, 181, 22);
  width: 120px;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-nav > li > a.btn-courses {
  background: none;
  color: white;
  padding: 8px;
  margin: 7px;
  font-weight: bold;
  letter-spacing: 3px;
  }

.box {
  background: #ffffff;
  border: 1px solid #ffffff;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
  letter-spacing: 1px;
}

.box h1, .box h2 {
  letter-spacing: 3px;
  font-size: 2em;
  margin-bottom: 10px;
}

.clear {
  clear: both;
}

input, textarea {
  letter-spacing: 1px;
}

.field_with_errors {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 8px;
  margin: 10px;
}